:root {
  --darkBlue: #011B47;
  --lightOrange: #FCB104;
  --darkOrange: #FB8C00;
  --lightGrey: #676766;
  --darkGrey: #2F2F2F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-image: url('./assets/project_img/background.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  max-width: 55vw;
  margin: auto;
}

.row {
  background-color: var(--darkBlue);
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 5px .5px var(--lightOrange);
  /* border: .5px solid var(--lightOrange); */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.column {
  background-color: var(--darkBlue);
  padding: 5px;
  margin: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.name {
  justify-content: center;
  text-align: center;
  color: var(--darkOrange);
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--darkBlue);
}


.nav-wrapper a {
  color: var(--lightOrange);
}

.nav-wrapper a:hover {
  color: var(--darkGrey);
  background-color: var(--lightOrange);
}

.sectionHeader {
  color: var(--lightOrange);
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 72vh;
}

.btn {
  background-color: var(--primary);
  border-top-right-radius: 10px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  padding: 1rem 2.5rem;
  margin-top: 1.5rem;
  position: relative;
  transition: color 300ms ease-in-out;
}

p {
  padding: 5px;
  margin: 5px;
}

/* .about-section h3 {
  box-shadow: 0px 5px var(--lightOrange);
} */

.footer-wrapper {
  justify-content: space-around;
  /* box-shadow: none; */
}


/* button animation */

.portfolio-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--secondary);
  border-top-right-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.portfolio-btn:hover::before {
  transform: scaleX(1);
}

.portfolio-btn {
  z-index: 1;
}

.portfolio-btn:hover {
  color: var(--primary);
}

/* button animation */

/* media queries */

@media screen and (max-width: 768px) {
  body {
    max-width: 90vw;
  } 

  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 425px) {
  .container {
    min-height: 65vh;
  }
  .flex-container {
    display: block;
  }
  .name-container {
    height: 20vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: none;
    margin: 0 3rem 3rem 3rem;
  }

  .btn {
    width: 80%;
    margin: 0 3rem;
  }

  .flex-container {
    align-items: center;
  }
}